.job-section {
  width: 100%;
  background: #eff0f8;
  min-height: 100vh;
  padding-bottom: 1rem;
}
.job-section .row > div {
  margin: 1.5rem 0px;
}
#job {
  min-height: 1rem;
  background: #eff0f8;
}
.job-section h5 {
  text-align: center;
  cursor: default;
  /* color: #0a81ab; */
  color: #000;
  font-size: 1.5rem;
  font-size: 0.8rem;
  font-weight: bolder;
  /* border-bottom: 1px solid #000; */
}
.job-section .role-heading {
  color: #000;
  font-size: 1.5rem;
  min-width: 100%;
  border: 1px solid #0a81ab;
  padding: 5px 3px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.job-section .company-name {
  font-size: 1rem;
  margin-bottom: 20px;
}
.job-section p {
  cursor: default;
  text-align: center;
  font-size: 0.8rem;
  font-weight: normal;
  color: black;
  /* border-left: 2px solid black; */
  /* padding: 5px 0; */
  /* padding-left: 5px; */
}
.job-section .card {
  border-radius: 10px;
  background: #eff0f8;
  box-shadow: 11px 11px 22px #bdbec4, -11px -11px 22px #ffffff;

  /* box-shadow: 0px 0px 15px rgba(68, 68, 68, 0.5);
    border-radius: 10px;
    background: #eff0f8; */
  height: 100%;
  height: max(80%, 420px);
  height: 420px;
  margin: 1.5rem;
  transition: 0.2s ease;
  /* border: 1px solid black !important; */
}
.job-section .card:hover {
  /* border-radius: 10px;
    background: #0a81ab;
    box-shadow:  11px 11px 22px #086687,
                -11px -11px 22px #0c9ccf; */

  /* box-shadow: 0px 0px 15px rgba(68, 68, 68, 0.5);
    border-radius: 10px;
    background: #eff0f8; */
  /* height: 100%; */
  transform: translateY(-10px);
  transition: 0.3s ease;
  /* margin: 1.5rem; */
  /* border: 1px solid black !important; */
}
.job-section .main-heading {
  padding: 50px 0;
  font-size: 3.2rem;
  font-weight: bolder;
  text-align: center;
}

.home-btns a {
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 0 5px;
  padding: 10px 25px;
  width: 200px;
  outline: none;
  /* background: #54e346; */
  background: #0a81ab;
  color: #fff;
  /* background: #fff;
    color: #283c63; */
  text-transform: uppercase;
  font-size: 0.6rem;
  word-wrap: inherit;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  transition: 0.5s;
}
.home-btns a:hover {
  /* transform: translateY(-2px); */
  transition: all 0.5s ease;
  /* background: #283c63;
    color: #fff; */
  background: #fff;
  color: #0a81ab;
  /* color: #283c63; */
  border: 1px solid #0a81ab;
  /* color: #fff;
    background: #155263; */
  text-decoration: none;
}
.home-written-section h1 {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}
.home-written-section h5 .svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.home-written-section h5 {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  align-items: center;
}
.home-written-section .job-home-btn {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-written-section p {
  margin-top: 2rem;
  color: #fff;
  font-size: 1rem;
  text-align: left;
}
.home-written-section .home-mail {
  /* color: #0a81ab; */
  color: #fff;
  text-decoration: underline;
  /* font-size: 0.8rem; */
}
.job-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.job-btn a {
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 0 5px;
  padding: 10px 25px;
  width: 200px;
  outline: none;
  /* background: #54e346; */
  background: #0a81ab;
  color: #fff;
  /* background: #fff;
    color: #283c63; */
  text-transform: uppercase;
  font-size: 1rem;
  word-wrap: inherit;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  transition: 0.5s;
}
.job-btn a:hover {
  /* transform: translateY(-2px); */
  transition: all 0.5s ease;
  /* background: #283c63;
    color: #fff; */
  background: #fff;
  color: #0a81ab;
  /* color: #283c63; */
  border: 1px solid #0a81ab;
  /* color: #fff;
    background: #155263; */
  text-decoration: none;
}

@media (max-width: 480px) {
  .navbar .nav-item {
    background: #19191b;
    text-align: center;
  }
  html {
    font-size: 80%;
  }
  .job-section .role-heading {
    font-size: 2rem !important;
  }
  .job-section .company-name {
    font-size: 1.5rem !important;
  }
  .job-section h5,
  p {
    font-size: 1rem !important;
  }
}