
<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.cdnfonts.com/css/sofia-pro" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/glacial-indifference"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="/assets/cookie.js"></script>

    <!-- <script src="./../public/js/cookie.js"></script> -->
    <title>Careers | RTBanalytica</title>
  </head>

  <body>
   <app-header></app-header>

      <div class="homepara">
        <div id="particles-js"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="home-written-section">
                <h1>Come build a future with us</h1>
                <p>
                  We're always looking for ambitious people who are willing to
                  challenge the status quo. People who are smart, free thinking
                  and excited about connecting with people all over the world to
                  do their life best work. If this sounds like you, send your
                  story to
                  <span class="home-mail">hiring@rtbanalytica.com</span>
                </p>
                <p></p>
                <div class="job-home-btn">
                  <div>
                    <h5>
                      Checkout our latest job positions with us and our partners
                      below
                    </h5>
                  </div>
                  <div>
                    <a class="svg-arrow" href="#job"
                      ><svg
                        xmlns="https://www.w3.org/2000/svg"
                        x="0px"
                        y="0px"
                        width="30"
                        height="30"
                        viewBox="0 0 172 172"
                        style="fill: #000000"
                      >
                        <g
                          fill="none"
                          fill-rule="nonzero"
                          stroke="none"
                          stroke-width="1"
                          stroke-linecap="butt"
                          stroke-linejoin="miter"
                          stroke-miterlimit="10"
                          stroke-dasharray=""
                          stroke-dashoffset="0"
                          font-family="none"
                          font-weight="none"
                          font-size="none"
                          text-anchor="none"
                          style="mix-blend-mode: normal"
                        >
                          <path d="M0,172v-172h172v172z" fill="none"></path>
                          <g fill="#0a81ab">
                            <path
                              d="M86,17.2c-37.9948,0 -68.8,30.8052 -68.8,68.8c0,37.9948 30.8052,68.8 68.8,68.8c37.9948,0 68.8,-30.8052 68.8,-68.8c0,-37.9948 -30.8052,-68.8 -68.8,-68.8zM107.25347,107.25347l-17.2,17.2c-1.118,1.118 -2.58573,1.67987 -4.05347,1.67987c-1.46773,0 -2.93547,-0.56187 -4.05347,-1.67987l-17.2,-17.2c-1.63973,-1.63973 -2.1328,-4.10507 -1.24413,-6.24933c0.88867,-2.14427 2.98133,-3.53747 5.2976,-3.53747h11.46667v-45.86667c0,-3.17053 2.56853,-5.73333 5.73333,-5.73333c3.1648,0 5.73333,2.5628 5.73333,5.73333v45.86667h11.46667c2.31627,0 4.40893,1.3932 5.2976,3.53747c0.88867,2.14427 0.3956,4.6096 -1.24413,6.24933z"
                            ></path>
                          </g>
                        </g></svg>
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <section id="job"></section>

    <section class="job-section">
      <h1 class="main-heading">Open job positions</h1>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="card">
              <div class="card-body">
                <div>
                  <h5 class="role-heading">Analyst Intern</h5>
                </div>

                <div>
                  <h5 class="company-name">Company - RTBanalytica</h5>
                </div>

                <div>
                  <h5>
                    <img
                      src="https://img.icons8.com/ios/30/4a90e2/experience-skill.png"
                    />
                    Experience
                  </h5>
                  <p>NA</p>
                </div>

                <div>
                  <h5>
                    Required Skills
                    <img
                      src="https://img.icons8.com/ios/30/4a90e2/development-skill.png"
                    />
                  </h5>
                  <p>Love numbers,Curious and problem solving excites you</p>
                </div>

                <div>
                  <h5>
                    <img
                      src="https://img.icons8.com/ios/30/4a90e2/salary-male.png"
                    />
                    Salary Ranges
                    <img
                      src="https://img.icons8.com/ios/30/4a90e2/salary-female.png"
                    />
                  </h5>
                  <p>
                    Stipend available with placement offer based on performance
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="card">
              <div class="card-body">
                <div>
                  <h5 class="role-heading">Buisness Development</h5>
                </div>
                <div>
                  <h5 class="company-name">Company - RTBanalytica</h5>
                </div>
                <div>
                  <h5>
                    <img
                      src="https://img.icons8.com/ios/30/4a90e2/experience-skill.png"
                    />
                    Experience
                  </h5>
                  <p>NA</p>
                </div>
                <div>
                  <h5>
                    Required Skills
                    <img
                      src="https://img.icons8.com/ios/30/4a90e2/development-skill.png"
                    />
                  </h5>
                  <p>
                    Multitasker,Love building connections,Talking to people and
                    create customer WOW
                  </p>
                </div>
                <div>
                  <h5>
                    <img
                      src="https://img.icons8.com/ios/30/4a90e2/salary-male.png"
                    />
                    Salary Ranges
                    <img
                      src="https://img.icons8.com/ios/30/4a90e2/salary-female.png"
                    />
                  </h5>
                  <p>
                    Stipend available with placement offer based on performance
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="card">
              <div class="card-body">
                <div>
                  <h5 class="role-heading">Data Journalist</h5>
                </div>
                <div>
                  <h5 class="company-name">Company - MiQ</h5>
                </div>
                <div>
                  <h5>
                    <img
                      src="https://img.icons8.com/ios/30/4a90e2/experience-skill.png"
                    />
                    Experience
                  </h5>
                  <p>5+ Years</p>
                </div>
                <div>
                  <h5>
                    Required Skills
                    <img
                      src="https://img.icons8.com/ios/30/4a90e2/development-skill.png"
                    />
                  </h5>
                  <p>SQL,R or Python,Data analysis</p>
                </div>
                <!-- <div>
                  <h5><img src="https://img.icons8.com/ios/30/4a90e2/salary-male.png"/> Salary Ranges <img src="https://img.icons8.com/ios/30/4a90e2/salary-female.png"/></h5>
                  <p>24-30 lac per annum</p>
                </div> -->
                <div class="home-btns">
                  <a
                    href="../public/jobs/Data-Journalist.pdf"
                    download="Data-Journalist.pdf"
                  >
                    Download job description
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="card">
              <div class="card-body">
                <div>
                  <h5 class="role-heading">Data Strategist</h5>
                </div>
                <div>
                  <h5 class="company-name">Company - MiQ</h5>
                </div>
                <div>
                  <h5>
                    <img
                      src="https://img.icons8.com/ios/30/4a90e2/experience-skill.png"
                    />
                    Experience
                  </h5>
                  <p>8+ Years</p>
                </div>
                <div>
                  <h5>
                    Required Skills
                    <img
                      src="https://img.icons8.com/ios/30/4a90e2/development-skill.png"
                    />
                  </h5>
                  <p>
                    SQL,R or Python,Data analysis,Story telling,marketing
                    analysis
                  </p>
                </div>
                <!-- <div>
                  <h5><img src="https://img.icons8.com/ios/30/4a90e2/salary-male.png"/> Salary Ranges <img src="https://img.icons8.com/ios/30/4a90e2/salary-female.png"/></h5>
                  <p>24-30 lac per annum</p>
                </div> -->
                <div class="home-btns">
                  <a
                    href="../public/jobs/Data-Strategist.pdf"
                    download="Data-Strategist.pdf"
                  >
                    Download job description
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="card">
              <div class="card-body">
                <div>
                  <h5 class="role-heading">Analyst 3</h5>
                </div>
                <div>
                  <h5 class="company-name">Company - MiQ</h5>
                </div>
                <div>
                  <h5>
                    <img
                      src="https://img.icons8.com/ios/30/4a90e2/experience-skill.png"
                    />
                    Experience
                  </h5>
                  <p>4.5 Years</p>
                </div>
                <div>
                  <h5>
                    Required Skills
                    <img
                      src="https://img.icons8.com/ios/30/4a90e2/development-skill.png"
                    />
                  </h5>
                  <p>SQL,R or Python,Data analysis</p>
                </div>
                <!-- <div>
                  <h5><img src="https://img.icons8.com/ios/30/4a90e2/salary-male.png"/> Salary Ranges <img src="https://img.icons8.com/ios/30/4a90e2/salary-female.png"/></h5>
                  <p>12-17 lac per annum</p>
                </div> -->
                <div class="home-btns">
                  <a
                    href="../public/jobs/JD-3-Analyst-III.pdf"
                    download="JD-3-Analyst-III.pdf"
                  >
                    Download job description
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="card">
              <div class="card-body">
                <div>
                  <h5 class="role-heading">Associate Manager</h5>
                </div>
                <div>
                  <h5 class="company-name">Company - MiQ</h5>
                </div>
                <div>
                  <h5>
                    <img
                      src="https://img.icons8.com/ios/30/4a90e2/experience-skill.png"
                    />
                    Experience
                  </h5>
                  <p>5+ Years</p>
                </div>
                <div>
                  <h5>
                    Required Skills
                    <img
                      src="https://img.icons8.com/ios/30/4a90e2/development-skill.png"
                    />
                  </h5>
                  <p>
                    SQL,R or Python,Data analysis,Project management,People
                    management
                  </p>
                </div>
                <!-- <div>
                  <h5><img src="https://img.icons8.com/ios/30/4a90e2/salary-male.png"/> Salary Ranges <img src="https://img.icons8.com/ios/30/4a90e2/salary-female.png"/></h5>
                  <p>20-25 lac per annum</p>
                </div> -->
                <div class="home-btns">
                  <a
                    href="../public/jobs/Assocaite-Manager-DnA.pdf"
                    download="Assocaite-Manager-DnA.pdf"
                  >
                    Download job description
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
              <div class="card-body">
                <div>
                  <h5 class="role-heading">Manager</h5>
                </div>
                <div>
                  <h5 class="company-name">Company - MiQ</h5>
                </div>
                <div>
                  <h5>
                    <img
                      src="https://img.icons8.com/ios/30/4a90e2/experience-skill.png"
                    />
                    Experience
                  </h5>
                  <p>7+ Years</p>
                </div>
                <div>
                  <h5>
                    Required Skills
                    <img
                      src="https://img.icons8.com/ios/30/4a90e2/development-skill.png"
                    />
                  </h5>
                  <p>Project management,Exceptional people management</p>
                </div>
                <!-- <div>
                  <h5><img src="https://img.icons8.com/ios/30/4a90e2/salary-male.png"/> Salary Ranges <img src="https://img.icons8.com/ios/30/4a90e2/salary-female.png"/></h5>
                  <p>30-40 lac per annum</p>
                </div> -->
                <div class="home-btns">
                  <a
                    href="../public/jobs/Manager-DnA.pdf"
                    download="Manager-DnA.pdf"
                  >
                    Download job description
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
              <div class="card-body">
                <div>
                  <h5 class="role-heading">Senior Manager</h5>
                </div>
                <div>
                  <h5 class="company-name">Company - MiQ</h5>
                </div>
                <div>
                  <h5>
                    <img
                      src="https://img.icons8.com/ios/30/4a90e2/experience-skill.png"
                    />
                    Experience
                  </h5>
                  <p>9+ years</p>
                </div>
                <div>
                  <h5>
                    Required Skills
                    <img
                      src="https://img.icons8.com/ios/30/4a90e2/development-skill.png"
                    />
                  </h5>
                  <p>Project management,Exceptional people management</p>
                </div>
                <!-- <div>
                  <h5><img src="https://img.icons8.com/ios/30/4a90e2/salary-male.png"/> Salary Ranges <img src="https://img.icons8.com/ios/30/4a90e2/salary-female.png"/></h5>
                  <p>40-46 lac per annum</p>
                </div> -->
                <div class="home-btns">
                  <a
                    href="../public/jobs/Senior Manager_DnA.pdf"
                    download="Senior Manager_DnA.pdf"
                  >
                    Download job description
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-------------------footer section start----------------->
    <app-footer></app-footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="/assets/main.js"></script>
    <script src="/assets/particles.js"></script>
    <script src="/assets/app.js"></script>
  </body>
  <noscript>
    <iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-PCD73QH"
      height="0"
      width="0"
      style="display: none; visibility: hidden"
    >
    </iframe>
  </noscript>
</html>
<!-- <router-outlet></router-outlet> -->