
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>RTBAnalytica</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://rtbanalytica.com/adunits/styles/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="https://rtbanalytica.com/adunits/styles/mediaqueries.css" type="text/css" media="all">
<script src="https://rtbanalytica.com/adunits/scripts/jquery.1.9.0.min.js"></script>
<script src="https://rtbanalytica.com/adunits/scripts/jquery-mobilemenu.min.js"></script>
<!--[if lt IE 9]>
<link rel="stylesheet" href="styles/ie.css" type="text/css" media="all">
<script src="scripts/ie/css3-mediaqueries.min.js"></script>
<script src="scripts/ie/ie9.js"></script>
<script src="scripts/ie/html5shiv.min.js"></script>
<![endif]-->
<script type="text/javascript" src="https://rtbanalytica.com/adunits/inimage.js"></script>
</head>
<body>
<div class="wrapper row1">
 <app-header></app-header>
</div>
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <nav id="topnav">
    <ul class="clear">
      <li class="active first"><a href="index.html">InImage</a></li>
	  <li><a href="interstitial.html">Interstitial</a></li>
      <li><a href="osv.html">Outstream Video</a></li>
      <li><a href="osb.html">Outstream Banner</a></li>
      <li><a href="osh.html">Outstream Hybrid</a></li>
      <li><a href="scroller.html">Scroller</a></li>
      <li><a href="ibv.html">InBanner Video</a></li>
      <li><a href="infooter.html">InFooter/Catfish</a></li>
    </ul>
  </nav>
</div>
<!-- content -->
<div class="wrapper row3">
  <div id="container">
  
  
    <!-- ################################################################################################ -->
    <p>Advertising simply put is telling and selling the product. Advertising Management though is a complex process of employing various media to sell a product or service. This process begins quite early from the marketing research and encompasses the media campaigns that help sell the product.
Without an effective advertising management process in place, the media campaigns are not that fruitful and the whole marketing process goes for a toss. Hence, companies that believe in an effective advertising management process are always a step ahead in terms of selling their goods and services.As mentioned above, advertising management begins from the market research phase. At this point, the data produced by marketing research is used to identify what types of advertising would be adequate for the specific product. Gone are the days when there was only print and television advertising was available to the manufacturers. These days apart from print and television, radio, mobile, and Internet are also available as advertising media. Advertising management process in fact helps in defining the outline of the media campaign and in deciding which type of advertising would be used before the launch of the product.</p>

<p>If you wish to make the advertising effective, always remember to include it from the market research time. Market research will help to identify the niche segment of the population to which the product or service has to be targeted from a large population. It will also identify why the niche segment would opt for the product or service. This information will serve as a guideline for the preparation of advertising campaigns.
Once the niche segments are identified and the determination of what types of advertising will be used is done, then the advertising management focuses on creating the specifics for the overall advertising campaign. If it is a radio campaign, which type of ads would be used, if it is a print campaign, what write ups and ads will be used, and if it is a television campaign, what type of commercials will be used.There might also be a mix and match advertising in which radio might supplement television advertising and so on. It is important that through advertising management the image is conveyed that all the strategies complement each other. It should not look to public that the radio advertising is focusing on something else while television on something else. The whole process in the end should benefit the product or service.
The role of people designing the advertising campaign is crucial to its success. They have been trained by seasoned professionals who provide the training in the specific field. Designing an advertising campaign is no small a task and to understand the consumer behavior from the data collected from market research is a very important aspect of the campaign.</p>
<img src="timage.jpg" alt="Hollywood" />
<p>A whole lot of creativity and inspiration is required to launch an adequate advertising campaign. In addition, the management skills come into play when the work has to be done keeping the big picture in mind. It would be fruitful for the company if the advertising campaign lasts well over the lifetime of a product or service, reach the right customers, and generate the desired revenue.
A whole lot of creativity and inspiration is required to launch an adequate advertising campaign. In addition, the management skills come into play when the work has to be done keeping the big picture in mind. It would be fruitful for the company if the advertising campaign lasts well over the lifetime of a product or service, reach the right customers, and generate the desired revenue.</p>

<p>A car parked at the gate, a bicycle in the shed, flip-flops on a mat, normal items you would see outside a house, except that all were defying gravity and hanging upside down. Inside the house, the cabinets in the kitchen hung from the ceiling while the flowers on the windowsill remained inside an upturned pot. We were at the upside down house, inside the Kuala Lumpur Tower complex. A cheerful yellow and white building resting on the spine of its sloping roof inside a garden filled with potted plants and palm trees. A fairy tale house begging for a story. And so different from the majestic towers all around Kuala Lumpur, especially the Petronas and KL Towers.
The buildings in Putrajaya on the other hand presented a different picture. The green domed Putra Perdana or the Prime Minister’s office complex, the Putra mosque and assorted buildings housing the offices of the government, dominated the landscape amidst clean and wide roads that were curiously not too crowded.</p>

<p>Putra Mosque, made out of rose coloured granite, sits on the banks of the Putra lake. The water body, a 600-hectare large artificial lake created to cool the city, also provides recreation opportunities. The courtyard surrounding the mosque offers an expansive view of the lake with the Putra Bridge on left and the asymmetrical Seri Wawasan Bridge on the right. As we stood and watched the lake take on the palette of colours painted by a waning sun, a ferry glided out from beneath the Putra bridge completing the picture. The splendour of the city was further enhanced when lights came up on the bridges and the surrounding buildings at dusk. The dome of the Perdana Putra glowed jade green while the chandeliers in the mosque glittered in the moist air, making us feel as if we were walking inside a giant jewel box.
Under a canopy of red lanterns, the crowd inside Petaling market, the Chinatown of KL, waxed and waned even as the faithful thronged the nearby Sri Mahamariamman and the Kuan Ti temples standing opposite each other.

<p>Red lanterns were a ubiquitous sight, whether hanging down inside the mall at the Petronas Towers, lining the front path of the Berjaya Times Square or adorning the entrance to the century old Central Market. Thean Hou Temple, the six-tiered temple also known as the Temple of the Goddess of Heaven was almost invisible under the canopy of the lanterns strung all around the structure.
Nestled inside the complex housing the KL Towers, the KL Forest Eco Park beckoned with its fame of being the oldest reserve in the country. A signboard at the entrance advised caution, asking visitors to keep a lookout for snakes, scorpions and poisonous invertebrates. We wondered if this could be the reason for the silence in the park. The Bukit Nanas Forest Reserve as it was called previously sits right in the middle of the city and offers several trails for those interested in exploring it. We took the canopy walk, a pathway of connecting bridges that wound through the canopies of trees, offering a view of the surroundings from 20 metres above ground. As we walked the deserted trail, we could hear the excited cries of people coming from an amusement park nearby contrasting with the quietness of the park. <p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- Footer -->
<div class="wrapper row4">
  <app-footer></app-footer>
</div>
</body>
</html>