
<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.cdnfonts.com/css/sofia-pro" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/glacial-indifference"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="/assets/cookie.js"></script>
    <title>Sign in | RTBanalytica</title>
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="/assets/RTBanalytica-logo.png"
    />
  </head>

  <body>
    <app-header></app-header>

      <div class="homepara" style="overflow: hidden;">
        <div id="particles-js"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="home-written-section">
                <h1 id="content">Unlock the true potential of your digital & data assets</h1>
                    <div class="right">
                        <div class="publisher">
                            <h1>Publisher Login</h1>
                            <div class="sign-in-page-btn">
                                <a class="sign-in-link" href="https://login.rtbanalytica.com/publisher/signup">New User</a>
                                <a class="sign-in-link" href="https://login.rtbanalytica.com/publisher/login">Existing User</a>
                            </div>
                        </div>
                        <div class="advertiser">
                                <h1>Advertiser Login</h1>
                                <div class="sign-in-page-btn">
                                    <a class="sign-in-link" href="https://login.rtbanalytica.com/advertiser/signup">New User</a>
                                    <a class="sign-in-link" href="https://login.rtbanalytica.com/advertiser/login">Existing User</a>
                                </div>
                        </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    <!-------------------footer section start----------------->
    <app-footer></app-footer>
  
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

    </body>
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-PCD73QH"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      >
      </iframe>
    </noscript>
  </html>
  <router-outlet></router-outlet>