
<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.cdnfonts.com/css/sofia-pro" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/glacial-indifference"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="/assets/cookie.js"></script>
    <!-- <script src="./../public/js/cookie.js"></script> -->
    <title>About us | RTBanalytica</title>
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="/assets/RTBanalytica-logo.png"
    />
  </head>

  <body>
    <!-- Header -->
    <app-header></app-header>

      <div class="homepara">
        <div id="particles-js"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="home-written-section">
                <h1>
                  <span class="highlight-text-one"
                    >We are a unique team of</span
                  >
                  <br />
                  <span class="highlight-text-two"
                    >programmatic & <br />
                    data science experts</span
                  >
                  <br />
                  <span class="highlight-text-three"
                    >with 15+ years of experience in the world's most dynamic
                    industry. We are young and innovative minds, who bring
                    speed, subject matter expertise and curiosity for problem
                    solving. We relentlessly collaborate with business to drive
                    effective ROI for them.</span
                  >
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>


    <section class="aboutus-first-section" style="overflow: hidden">
      <div data-aos="fade-up" data-aos-duration="1000">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div>
                <h2 class="main-heading">Culture & Values</h2>
                <h5 class="sub-heading">
                  Our culture is what we live and breathe every day. This 6 core
                  values and principle made us who we are.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12 col-12 mb-2">
            <div data-aos="fade-right">
              <div class="card shadow-sm">
                <div class="card-body">
                  <div class="icon">
                    <img
                      src="../public/images/icon/aboutusrtb/speedometer.png"
                      alt=""
                    />
                  </div>
                  <h5 class="heading card-title">Velocity</h5>
                  <p class="content card-text">
                    We believe in moving fast, we embrace speed and agility.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-12 col-12 mb-2">
            <div data-aos="fade-up">
              <div class="card shadow-sm">
                <div class="card-body">
                  <div class="icon">
                    <img
                      src="../public/images/icon/aboutusrtb/excellence.png"
                      alt=""
                    />
                  </div>
                  <!-- <h5 class="heading card-title">Collaboration</h5>
                  <p class="content card-text">
                    We create meaningful collaborations and connections to solve
                    client problems.
                  </p> -->
                  <h5 class="heading card-title">Selfless excellence</h5>
                  <p class="content card-text">
                    We put the company and team ahead of ourselves as we aim to
                    be world class in everything we do.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-12 col-12 mb-2">
            <div data-aos="fade-left">
              <div class="card shadow-sm">
                <div class="card-body">
                  <div class="icon">
                    <img
                      src="../public/images/icon/aboutusrtb/idea.png"
                      alt=""
                    />
                  </div>
                  <h5 class="heading card-title">Customer WOW</h5>
                  <p class="content card-text">
                    We love to exceed our customers and our stakeholder’s
                    expectations.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-12 col-12 mb-2">
            <div data-aos="fade-right">
              <div class="card shadow-sm">
                <div class="card-body">
                  <div class="icon">
                    <img
                      src="../public/images/icon/aboutusrtb/project-management.png"
                      alt=""
                    />
                  </div>
                  <h5 class="heading card-title">Constantly Innovate</h5>
                  <p class="content card-text">
                    We constantly learn and innovate to improve current
                    solutions.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-12 col-12 mb-2">
            <div data-aos="fade-up">
              <div class="card shadow-sm">
                <div class="card-body">
                  <div class="icon">
                    <img
                      src="../public/images/icon/aboutusrtb/solution.png"
                      alt=""
                    />
                  </div>
                  <h5 class="heading card-title">Integrity</h5>
                  <p class="content card-text">
                    We stay true to our commitments and bring our true self to
                    work.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-12 col-12 mb-2">
            <div data-aos="fade-left">
              <div class="card shadow-sm">
                <div class="card-body">
                  <div class="icon">
                    <img
                      src="../public/images/icon/aboutusrtb/diversity.png"
                      alt=""
                    />
                  </div>
                  <h5 class="heading card-title">
                    Radical Inclusion & Diversity
                  </h5>
                  <p class="content card-text">
                    We thrive on diverse voices, engage our customers and
                    employees different point of view to inform challenge and
                    expand our thinking.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-12 col-sm-12 col-12 mb-2">
            <div data-aos="fade-up">
              <div class="card shadow-sm">
                <div class="card-body">
                  <div class="icon">
                    <img
                      src="../public/images/icon/aboutusrtb/excellence.png"
                      alt=""
                    />
                  </div>
                  <h5 class="heading card-title">Selfless excellence</h5>
                  <p class="content card-text">
                    We put the company and team ahead of ourselves as we aim to
                    be world class in everything we do.
                  </p>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </section>

    <section class="about-btn-section" style="overflow: hidden">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 links-heading">
            <h2 class="main-heading">Work With RTBAnalytica</h2>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-12 links-section">
            <div class="about-links-group">
              <div class="ana-special-div">
                <h3>Analytics & Data Science</h3>
                <a href="../pages/offerrings/analytics-and-ds.html"
                  >click here
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i
                ></a>
              </div>
            </div>
            <div class="about-links-group">
              <div>
                <h3>Publisher</h3>
                <a href="../pages/offerrings/publishers.html"
                  >click here
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i
                ></a>
              </div>
            </div>
            <div class="about-links-group">
              <div>
                <h3>Advertiser</h3>
                <a href="../pages/offerrings/advertisers.html"
                  >click here
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i
                ></a>
              </div>
            </div>
            <div class="about-links-group">
              <div>
                <h3>Others</h3>
                <a href="../pages/contact-us.html"
                  >click here
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-------------------footer section start----------------->
    <app-footer></app-footer>
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  </body>
  <noscript>
    <iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-PCD73QH"
      height="0"
      width="0"
      style="display: none; visibility: hidden"
    >
    </iframe>
  </noscript>
</html>
