.privacy-written-section h3 {
  font-size: 1.5rem;
  color: #fff;
}
.privacy-second-section {
  width: 100%;
  min-height: auto;
  background: #eff0f8;
}
.privacy-second-section h5 {
  color: #0a81ab;
}
.privacy-second-section h1 {
  font-weight: bold;
}
.privacy-third-section {
  width: 100%;
  min-height: auto;
  background: #eff0f8;
}
.privacy-third-section h5 {
  color: #0a81ab;
}
.privacy-third-section h1 {
  font-weight: bold;
}
@media (max-width: 480px) {
  .privacy-written-section h3 {
    font-size: 0.9rem;
  }
  html {
    font-size: 80%;
  }
}